<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="/">Home</a>
    <h1>TV Show #{{ show.id }}</h1>
    <h4>Title</h4>
    <p>{{ show.title }}</p>
    <h4>Network</h4>
    <p>{{ show.network }}</p>
    <h4>Release date</h4>
    <p>{{ show.release_date}}</p>
    <h4>Description</h4>
    <p>{{ show.description}}</p>
    <h4>Last Updated</h4>
    <p>{{ show.updated_at}}</p>

    <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a>
</body>
</html>